# Dependências do Node.js
frontend/node_modules/
frontend/dist/

# Ambientes virtuais do Python
backend/.venv/
backend/venv/
backend/env/

# Ignorar arquivos de ambiente do frontend
frontend/.env

# Cache do Python
backend/__pycache__/
*.pyc

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Outros
.DS_Store