<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JitaKyoApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao JitaKyoApp!</h1>
    </header>
    <main>
        <p>{{ message | safe }}</p> {# O 'safe' é importante aqui para renderizar o HTML da mensagem #}
        <p>Sua aplicação Flask está funcionando. Agora podemos começar a construir!</p>
        
    </main>
    <footer>
        <p>&copy; 2024 JitaKyoApp - Centro de Treinamento de Lutas</p>
    </footer>
</body>
</html>